@model IEnumerable<Tachzukanit.Models.Apartment>
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
    {

    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/css/search.css" />
}
<br />
<br />
<div class="search">
    <input type="text" class="search-query" placeholder="חיפוש" />
    <button class="search-button" type="submit">
        <i class="fa fa-search"></i>
    </button>
</div>
<br />
<iframe src="https://www.youtube.com/embed/G0fck88ZooU" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<br />

<section class="tiles">
    <article class="style1">
        <span class="image">
            <img src="~/images/pic01.jpg" alt="" />
        </span>
        <a href="~/Views/Apartments/Index.cshtml">
            <h2>Magna</h2>
            <div class="content">
                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
            </div>
        </a>
    </article>
</section>
<p>@Html.ActionLink("Create", "Create", "Apartments") </p>
