@{
    ViewData["Title"] = "NotFound";
}

@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}

<h2>This Page Could Not Be Found At This Moment</h2>
<p>This error may occur if you tried to edit a page that already been deleted or entered to an non-existing address</p>

