@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}

<p>Use this area to provide additional information.</p>


<iframe src="https://www.youtube.com/embed/G0fck88ZooU" width="560" height="315" frameborder="0" allowfullscreen></iframe>
