@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Information about Beit Ekstein</h3>
@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}

    <p class="newspaper">Beit Ekstein from Danel group is the largest organization in Israel that provides person-centric services for people with disabilities, including people with Intellectual disabilities, Cognitive disabilities, Autism Spectrum Disorders, Down syndrome, Physical disabilities and Mental Health conditions. The organization was founded in 1987 and serves more than 4500 clients and employers, with more than 2000 workers in more than 50 facilities. Beit Ekstein's main mission is to increase the quality of life and social inclusion of our clients and of people with disabilities in general.All services in Beit Ekstein are based on the Quality of Life model, which uses fully validated planning and evaluation tools. The Quality of Life model is based on rigorous research and considerable knowledge that has been accumulated worldwide in the past decades. The individuals are placed in the center of the model, and by sharing their aspirations and dreams, and by being a central part of building and implementing their personal support plan, they become full participants in the process of achieving their life goals. <br/><a href="http://www.b-e.org.il">Link to original site</a><br /></p>

<iframe src="https://www.youtube.com/embed/G0fck88ZooU" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<video width="560" height="315" controls>
    <source src="~/videos/TachzukanitBE-video03.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

