@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}

<p>Use this area to provide additional information.</p>


<iframe src="https://www.youtube.com/embed/G0fck88ZooU" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<aside>
    <p>bla bla bla bla</p>
</aside>

<canvas id="titleCanvas" width="380" height="35" class="canvas-about"></canvas>

<script>
    var c = document.getElementById("titleCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "20px Arial";
    ctx.fillStyle = "#666666";
    ctx.fillText("All new kitchen tricks!", 0, 30);
</script>