@{
    ViewData["Title"] = "Privacy Policy";
}
@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
