
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
    {

    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/css/search.css" />
}
<br />
<br />
<div class="search">
    <input type="text" class="search-query" placeholder="חיפוש" />
    <button class="search-button" type="submit">
        <i class="fa fa-search"></i>
    </button>
</div>
<br />
<iframe src="https://www.youtube.com/embed/G0fck88ZooU" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<br />

@{Html.RenderPartial("~/Views/Apartments/Index.cshtml"); }

    <p>@Html.ActionLink("Create", "Create", "Apartments") </p>
